:root {
  color: white;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.95);
  position: relative;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 80px;

  padding: 80px;
  margin-bottom: 50px;

  font-family: sans-serif;
  font-size: 24px;

  background-color: rgba(255, 255, 255, 0.1);
  border: solid 2px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

img {
  width: 500px;
  height: auto;
  border-radius: 15px;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
