:root {
  color: white;
}

* {
  font-family: sans-serif;
  font-weight: lighter;
  color: lightgrey;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.95);
  position: relative;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: white;
  background-color: rgba(50, 150, 255, 1);
  font-family: sans-serif;
  font-weight: bold;
  color: black;
}

button:hover {
  cursor: pointer;
  background-color: rgba(50, 150, 255, 0.9);
}

button:active {
  background-color: rgba(50, 150, 255, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 20px;

  font-family: sans-serif;

  padding: 60px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: lighter;
  font-size: 48px;
  color: white;
}

img {
  width: 400px;
  height: auto;
  border-radius: 15px;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100vw;
  height: 100vh;

  align-items: center;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
